.comment_input {
    display: flex;
    padding: .06rem .15rem;

    .comment_write {
        flex: 1;
        border-radius: .13rem;
        font-size: .12rem;
        color: #555;
        background-color: #F2F2F5;
        padding: 0 .1rem;
        box-sizing: border-box;
    }
}
.am-textarea-control textarea{
    height: .26rem;
    line-height: .26rem;
}