.header_bar {
    height: 2.1rem;
    background-color: #000;
    background: url('../../assets/bg.png') top left 100%;
}

.header {
    height: .45rem;
    display: flex;
    align-items: center;

    .header_left {
        display: flex;
        width: .9rem;

        .header_left_icon {
            width: .45rem;
            height: .45rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .header_center {
        flex: 1;
        text-align: center;
        font-size: .18rem;
        color: #fff;
    }

    .header_right {
        width: .9rem;
        font-size: .15rem;
        color: #4E8CEE;
    }
}

.content {
    height: 1.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .img {
        width: .8rem;
        height: .8rem;
        border-radius: .4rem;
      display: flex;
      align-items: center;
      overflow: hidden;
        img{
          width: 100%;
        }
    }

    .content_title {
        font-size: .18rem;
        color: #FEFEFF;
        margin: .1rem 0;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 90%;
        text-align: center;
    }

    .content_con {
        font-size: .15rem;
        color: #FEFEFF;
        height: .2rem;
        line-height: .2rem;
        overflow: hidden;

        overflow:hidden;
        text-overflow:ellipsis;
        white-space:nowrap;
        width: 90%;
    }
}
