.header {
    height: .45rem;
    display: flex;
    padding: .06rem .15rem;
    border-bottom: 1px solid #f8f8f8;

    .input {
        flex: 1;
        height: .33rem;
        padding: 0 .1rem;
        font-size: .14rem;
        color: #333;
        border-radius: .05rem;
        background-color: #f4f4f4;
    }
}