.comment_group {
    background-color: #fff;
    padding: 0 .15rem;


    .comment_title {
        font-size: .15rem;
        color: #333;
        padding-top: .14rem;
        padding-bottom: .08rem; 
        border-bottom: 1px solid #eee;
    }

    .comment_item {
        display: flex;
        padding: .13rem 0 0 .2rem;

        img {
            width: .33rem;
            height: .33rem;
        }

        .comment_cell {
            margin-left: .1rem;

            .comment_name {
                font-size: .12rem;
                color: #333;
            }
            .comment_time {
                font-size: .1rem;
                color: #999;
                margin: .05rem 0 .1rem 0;
            }
            .comment_content {
                font-size: .15rem;
                color: #333;
            }
        }
    }

}